/* Estilos gerais */
body {
    background-color: hsl(0, 0%, 8%); /* Fundo escuro */
    color: #fff; /* Texto branco */
    font-family: Arial, sans-serif;
}

.lugar {
    color: hsl(75, 94%, 57%);
}

  /* Estilos da seção de informações */
.informacoes {
    margin-top: 40px;
    margin-left: 280px;
    margin-right: 280px;
    border-radius: 50px;
    background-color: hsl(0, 0%, 20%);
    font-size: 14px;
    text-align: center;
    padding: 20px;
}

.imagem {
    border-radius: 50%;
}

.nome {
    font-size: 24px;
    font-weight: bold;
}

.profissao {
    font-style: italic;
}

  /* Estilos dos botões */
.botoes a {
    margin: 0 80px;
    color: #fff;
    text-decoration: none;
}

.link{
    display: block;
    padding: 15px;
    border-radius: 17px;
    background-color: hsl(0, 0%, 12%);
}

.botoes a:hover {
    color: #222;
    background-color: hsl(75, 94%, 57%); /* Verde */
}